{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row py-5">
            <h1 class="text-center w-100 mb-4 font-weight-bold">Invoice CSV Error Logs</h1>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th>File Name</th>
                    <th>Error Message</th>
                </tr>

                </thead>
                <tbody>
                    {% if invoiceLogs is not empty %}
                        {% for invoiceLog in invoiceLogs %}
                            <tr>
                                <td>{{ invoiceLog.getFileName() }}</td>
                                <td>{{ invoiceLog.getMessage() }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}