.pagination {
    margin:0 auto;
    justify-content: center;
}
.pagination span {
    margin: 0 10px;
}
.pagination span a, .pagination span.current{
    display: flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    color: #343a40;
    transition: 0.3s ease-in-out;
}
.pagination span.current{
    background: #343a40;
    color: #fff;
}
.pagination span a {
    border: #343a40 solid 1px;
}
.pagination span a:hover{
    background: #343a40;
    color: #fff;
    text-decoration: none;
}