{% extends 'base.html.twig' %}

{% block body %}
    <div class="container h-100 py-5">
        <form action="{{ path('invoices.store') }}" method="POST" enctype="multipart/form-data">
            <h3 class="w-100 text-center font-weight-bold mb-4">Upload a File</h3>
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <input id="file" type="file" name="file" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary w-100">Upload</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
{% endblock %}