{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .pagination {
            margin:0 auto;
            justify-content: center;
        }
        .pagination span {
            margin: 0 10px;
        }
        .pagination span a, .pagination span.current{
            display: flex;
            width: 35px;
            height: 35px;
            align-items: center;
            justify-content: center;
            color: #343a40;
            transition: 0.3s ease-in-out;
        }
        .pagination span.current{
            background: #343a40;
            color: #fff;
        }
        .pagination span a {
            border: #343a40 solid 1px;
        }
        .pagination span a:hover{
            background: #343a40;
            color: #fff;
            text-decoration: none;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row py-5">
            <div class="col-md-6">
                <h1>Invoice Stats:</h1>
            </div>
            <div class="col-md-6 text-right">
                <h2>Total Amount: <span>{{ totalInvoicesAmount }}</span></h2>
            </div>
        </div>

        <div class="row d-flex align-items-center mb-5">
            <div class="col-md-4">
                <h1>Invoices:</h1>
            </div>
            <div class="col-md-8 text-right">
                <a class="btn btn-secondary" href="{{ path('invoices.create') }}">Upload Invoice</a>
                <a class="btn btn-info" href="{{ path('invoice.logs.index') }}">View Logs</a>
            </div>
        </div>

        <div class="row">

            {% for message in app.flashes('success')  %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Amount</th>
                        <th>Selling Price</th>
                        <th>Due on</th>
                        <th>Created at</th>
                    </tr>
                </thead>
                <tbody>
                    {% if invoices is not empty %}
                        {% for invoice in invoices %}
                            <tr>
                                <td>{{ invoice['id'] }}</td>
                                <td>{{ invoice['amount'] }}</td>
                                <td>{{ invoice['selling_price'] }}</td>
                                <td>{{ invoice['due_on']|date('Y-m-d') }}</td>
                                <td>{{ invoice['created_at']|date('Y-m-d H:i:s') }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                {{ knp_pagination_render(invoices) }}
            </div>
        </div>
    </div>
{% endblock %}